@import '../../node_modules/uswds/dist/scss/theme/uswds-theme-general';
@import '../../node_modules/uswds/dist/scss/theme/uswds-theme-typography';
@import '../../node_modules/uswds/dist/scss/theme/uswds-theme-spacing';
@import '../../node_modules/uswds/dist/scss/theme/uswds-theme-color';
@import '../../node_modules/uswds/dist/scss/theme/uswds-theme-utilities';
@import './uswds-theme-overrides';
@import '../../node_modules/uswds/dist/scss/uswds.scss';

.beta-banner {
  background-color: color('green-10v');
  color: color('ink');
  margin: auto 0;
  padding: 0.1rem 0;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}
